discord.py>=2.3.2,<3
python-dotenv>=1.0.1,<2
google-genai>=2.3.0,<3
better_profanity>=0.7.0,<2
Pillow>=10,<12
elevenlabs>=2.9.2,<3
markdown_it_py>=4.0.0,<5
mdit_plain>=1.0.1,<2
ffmpeg>=1.4,<2
xai-sdk>=1.5.0
